/* 입력 창 스타일 */
.search-container {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
    background-size: contain;
    /* background-repeat: no-repeat; */
    background-position: center center;
    /* flex-direction: column; */
    min-width: 550px;

}

.search-wrapper {
    display: flex;
    align-items: center;
    width: 70%;
    max-width: 500px;
    padding: 9px;
    background-color: hwb(323 66% 7%);
    border-radius: 23px;
    box-shadow: 3px 5px 10px 3px hwb(324 33% 31% / 0.732);
}

.search-input {
    flex: 1;
    height: 30px;
    padding: 5px;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.search-button {
    width: 53px;
    height: 53px;
    margin-left: 20px;
    background-color: hwb(323 66% 7%);
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 3px 5px 10px 5px hwb(324 33% 31% / 0.732);

}

.search-button:hover {
    background-color: hwb(324 33% 31%);
}

/* 대답 창 스타일  */
.response-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    background-size: cover;
    min-width: 550px;
    min-height: 20vh;
    min-height: 70vh;
    /* 수정된 부분 */
}

.response-wrapper {
    display: flex;
    background-color: hwb(323 66% 7%);
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px 3px hwb(324 33% 31% / 0.732);
    width: 80%;
    max-width: 500px;
    flex: 1;
}

.response-content {
    font-size: 16px;
    line-height: 1.5;

}

/* 기분에 따른 추천 */
.submit-button {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-right: 70px;
    min-width: 470px;
}

.submit-button input {
    display: flex;
    margin-top: 6px;
    margin-right: 4px;
    border: none;
    color: hwb(324 5% 61% / 0.77);
    background-color: transparent;
    font-size: 13px;
    ;
    cursor: pointer;
}